<?php

/*
* This file is part of the SOG/EnomBundle
*
* (c) Shane O'Grady <shane.ogrady@gmail.com>
*
* This source file is subject to the MIT license that is bundled
* with this source code in the file LICENSE.
*/

$vendorDir = __DIR__.'/../vendor';
require_once $vendorDir.'/symfony/class-loader/Symfony/Component/ClassLoader/UniversalClassLoader.php';

require_once __DIR__ . '/../vendor/autoload.php';
//use Symfony\Component\ClassLoader\UniversalClassLoader;

//$loader = new UniversalClassLoader();
//$loader->registerNamespaces(array(
    //'Symfony'                => array($vendorDir.'/symfony/src'),
//));

//$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'TS\\Bundle\\EnomBundle\\')) {
        $path = __DIR__.'/../'.implode('/', array_slice(explode('\\', $class), 3)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;
        return true;
    }
});
